{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Desktop banner image-->
<div class="crash-image-desktop d-none d-lg-block">
    <div class="container ">
        <div class="row ">
            <div class="banner-text">
                <h1 class="display-4 logo-font text-black">
                    New Album buy now!
                </h1>
                <div class="my-7">
                    <h4>
                        <a href="" class="buy-now-button btn btn-black btn-lg rounded-0 text-uppercase py-3">Buy now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Tablet/Mobile banner image -->

<div class="crash-image-tablet d-lg-none d-none d-md-block">
    <div class="container ">
        <div class="row ">
            <div class="banner-text">
                <h1 class="display-4 logo-font text-black">
                    New Album buy now!
                </h1>
                <div class="my-7">
                    <h4>
                        <a href="" class="buy-now-button btn btn-black btn-lg rounded-0 text-uppercase py-3">Buy now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="crash-image-mobile d-md-none">
    <div class="container ">
        <div class="row ">
            <div class="banner-text">
                <h1 class="display-4 logo-font text-black">
                    New Album buy now!
                </h1>
                <div class="my-7">
                    <h4>
                        <a href="" class="buy-now-button btn btn-black btn-lg rounded-0 text-uppercase py-3">Buy now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}