{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--Desktop banner image-->
<div class="crash-image-desktop d-none d-lg-block">
</div>
<!--Tablet/Mobile banner image -->

<div class="crash-image-tablet d-lg-none d-none d-md-block">
</div>
<!--Mobile banner image -->
<div class="container ">
    <div class="row mobile-image">
        <div class="crash-image-mobile d-md-none">
        </div>
    </div>
</div>




{% endblock %}