html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #001011;
    font-family: 'Bebas Neue', cursive;
}

/* Banner Image */

.crash-image{
    background: url("/media/crash.jpg") no-repeat center center;
    background-size: cover;
    color: #ff389c;
    font-family: 'Bebas Neue', cursive;
}

.banner {
    height: calc(100vh - 164px);
}

.banner-text {
    margin-left: 60%;
    margin-top: 25%;
}

.mobile-nav {
    color: #FFFFFC;
}

/* Buttons */
.buy-button:hover,
.buy-button:active,
.buy-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ff389c;
    color: #001011;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.buy-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* Banner */

.album-banner {
    background: #ff389c;
    color: #FFFFFC;
    justify-content: center;
}

.banner-font {
    text-transform: uppercase;
    justify-content: center;
}


/* Header */
/* Some code taken from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    justify-content: center;
}

.main-logo-link {
    width: fit-content;
}


/* Navbar */
.nav-item:hover {
    color: #ff389c !important;
}

.navbar-text:hover {
    color: #ff389c !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.main-header{
    z-index: 2;
    background: white;
}

/* Categories*/
a.category-badge > span.badge:hover {
    background: #ff389c;
    color: #fff;
}

/* toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}



/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Media Queries */

/* Slightly larger container on desktop */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }