html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Bebas Neue', cursive;
}

select {
    font-family: 'Baskerville';
}

.text-content {
    font-family: 'Baskerville';
}

.text-content a {
    color: #ff389c;
}


/*footer*/

footer {
    background-color: #212121;
}

.footer-socials {
    background-color: #001011;
    padding: 15px;
}

.footer-links {
    color: #fff;
}

.footer-links:hover {
    color: #ff389c;
}

/* Banner Image Styling */

.mobile-image {
    background-color: #000;
}

.banner-text {
    margin-left: 60%;
    margin-top: 25%;
}

.mobile-nav {
    color: #FFFFFC;
}

/* Buttons */
.btn:hover,
.btn:active,
.btn:focus .btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ff389c;
    color: #001011;
}

.btn-outline-black:hover {
    background: #ff389c;
    color: #001011;
}

.btn {
    background: black;
    color: white;
    z-index: 0 !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.add-now-button {
    background: black;
    color: white;
    min-width: 130px;
    position: absolute;
    margin-top: 28%;
    margin-right: 15%;
    border-color: #aab7c4;
}

.buy-now-button {
    background: black;
    color: white;
    min-width: 120px;
    height: 60px;
    position: absolute;
    margin-top: 28%;
    margin-right: 15%;
    border-color: #aab7c4;
}

/* Banner */

.album-banner {
    background: #ff389c;
    color: #FFFFFC;
    justify-content: center;
}

.banner-link {
    text-transform: uppercase;
    justify-content: center;
    color: white;
}

.banner-link:hover {
    color: black;
    text-decoration: none;
}

.mobile-space {
    margin-top: 20%;
}

/* Header */
/* Some code taken from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    justify-content: center;
}

.main-logo-link {
    width: fit-content;
}

/* Header Links */
.head-links {
    color: #001011;
}

.head-links:hover {
    color: #ff389c !important;
}

/* Navbar */
.navbar-text {
    color: #16181b;
    letter-spacing: 2px;
}

.nav-item {
    color: #16181b;
}

.nav-item:hover {
    color: #ff389c !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #ff389c;
}

/* hover Underline effect from 30secondsofcode.org */

.navbar-text {
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    color: #16181b;
}

.navbar-text:hover {
    color: #ff389c;
}

.navbar-text:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff389c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-text:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-toggler-icon {
    color: #001011;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.main-header {
    z-index: 2;
    background: white;
}

/* Categories*/
a.category-badge>span.badge:hover {
    background: #ff389c;
    color: #fff;
}

/* News */
.news-header {
    margin-top: 15%;
}

.news_image {
    height: 400px;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.masthead {
    margin-top: 10%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

/*Youtube video sizing from techStacker*/
.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Merch */
.merch-header {
    margin-top: 3%;
}

/*links*/
a {
    color: #001011;
}

a:hover {
    color: #ff389c;
}

.page-link {
    color: #f8f9fa;
    text-decoration: none;
    background-color: #001011;
    border-color: #dee2e6;
    margin-bottom: 15px;
}

.page-link:hover {
    z-index: 2;
    color: #001011;
    text-decoration: none;
    background-color: #ff389c;
    border-color: #dee2e6;
}

/* toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.post_header {
    margin-top: 15%;
    color: #000;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Media Queries */

/* Slightly larger container on desktop */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form formatting */

.sign-up {
    margin-top: 10%;
    margin-bottom: 5%;
}

.profile-data {
    margin-bottom: 5%;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #001011;
    background-color: #ff389c;
    border-color: #ff389c;
}

.allauth-form-inner-content a {
    color: #ff389c;
    /* text-info */
}

.form-control {
    border: 1px solid #222;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}