<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="#" id="all-merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-merchandise-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="#" id="apparel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apparel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apparel-link">
                <a href="" class="dropdown-item">Shirts</a>
                <a href="" class="dropdown-item">Hoodies</a>
                <a href="" class="dropdown-item">Scarves</a>
                <a href="" class="dropdown-item">All Apparel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Keychains</a>
                <a href="" class="dropdown-item">Stickers</a>
                <a href="" class="dropdown-item">Bags</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="#" id="music-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Music
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="music-link">
                <a href="" class="dropdown-item">CDs</a>
                <a href="" class="dropdown-item">Vinyls</a>
                <a href="" class="dropdown-item">All Music</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black" href="#" >
                News
            </a>
        </li>
    </ul>
</div>