<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="#" id="all-merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-merchandise-link">
                <a href="{% url 'merchandise' %}?sort=product_price&direction=desc" class="dropdown-item">By Price</a>
                <a href="{% url 'merchandise' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'merchandise' %}" class="dropdown-item">All Merchandise</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="{% url 'merchandise' %}?category=shirts,hoodies,scarves" id="apparel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apparel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apparel-link">
                <a href="{% url 'merchandise' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'merchandise' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'merchandise' %}?category=scarves" class="dropdown-item">Scarves</a>
                <a href="{% url 'merchandise' %}?category=shirts,hoodies,scarves" class="dropdown-item">All Apparel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="{% url 'merchandise' %}?category=keychains,chains,stickers,bags" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="accessories-link">
                <a href="{% url 'merchandise' %}?category=keychains,chains" class="dropdown-item">Keychains</a>
                <a href="{% url 'merchandise' %}?category=stickers" class="dropdown-item">Stickers</a>
                <a href="{% url 'merchandise' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'merchandise' %}?category=keychains,chains,stickers,bags" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black mr-5" href="{% url 'merchandise' %}?category=cds,vinyls" id="music-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Music
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="music-link">
                <a href="{% url 'merchandise' %}?category=cds" class="dropdown-item">CDs</a>
                <a href="{% url 'merchandise' %}?category=vinyls" class="dropdown-item">Vinyls</a>
                <a href="{% url 'merchandise' %}?category=cds,vinyls" class="dropdown-item">All Music</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-text font-weight-bold nav-link text-black" href="{% url 'news' %}" >
                News
            </a>
        </li>
    </ul>
</div>