{% load static %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    <!-- CSS links-->
    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
        .crash-image-desktop {
            background: url("{% static 'images/crash.jpg' %}") no-repeat center center;
            background-size: contain;
            color: #ff389c;
            font-family: 'Bebas Neue', cursive;
            height: 72vh;
            background-color: #000;
        }

        .crash-image-tablet {
            background: url("{% static 'images/crash.jpg' %}") no-repeat center center;
            background-size: contain;
            margin-top: -7%;
            min-height: 330px;
            background-color: #000;
        }

        .crash-image-mobile {
            margin-top: 125px;
            background: url("{% static 'images/mobile-banner.png' %}") no-repeat center center;
            background-size: cover;
            margin-top: -10%;
            min-height: 600px;
            width: 100%;
            background-color: #000;
        }

        .logo-image {
            width: 50%;
        }

    </style>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- JS Links -->
    {% block corejs %}
    <script src="https://kit.fontawesome.com/36d7c75807.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Charli Xcx</title>
</head>
<!-- Header with Logo/Search bar/Account/Shopping Bag-->

<body>
    <header class="main-header container-fluid fixed-top">
        <div class="row">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="{% static 'images/logo.jpg' %}" class="logo-image" alt="Charli XCX Logo" />
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                <form method="GET" action="{% url 'merchandise' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search merchandise">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center head-links">
                                <div><i class="fa-solid fa-circle-user fa-lg"></i></div>
                                <p class="my-2">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_merchandise' %}" class="dropdown-item">Merchandise Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="{% url 'view_bag' %}">
                            <div class="text-center head-links">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-2">
                                    {% if total %}
                                    €{{ total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg  w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars fa-lg"></i></span>
                </button>
                {% include 'includes/main-nav.html' %}
                {% include 'includes/mobile-top-header.html' %}
            </nav>
        </div>
        <!-- Limited Vinyl Banner -->
        <div class="row album-banner">
            <h4 class="banner-font my-1 text-center"><a class="banner-link" href="/merchandise/32">Buy New Limited Edition Vinyl of Crash!
                {% if merch.sku == "LMECrash/VinylXcx2022lmtd" %}
                
                    {% if merch.limited_number == 0 %}
                        <span style="color: red;">Sorry! Sold out!</span>
                    {% else %}
                        Only <span style="color: black;">{{merch.limited_number}}</span> in stock!
                    {% endif %}
                
                {% endif %}</a>
            </h4>
        </div>

    </header>


    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="row mobile-space d-lg-none d-block"></div>

    {% block content %}
    {% endblock %}

    <!-- Footer -->

    <footer class="text-center text-lg-start text-white">
        <!-- Social media footer -->
        <section class="footer-socials">
            <div class="me-5">
                <span>Follow me on Social Media:</span>
            </div>
            <div >
                <a href="https://www.youtube.com/user/officialcharlixcx" target="_blank" style="text-decoration:none"
                    class="footer-links me-4 p-2">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/CharliXCX/" target="_blank" style="text-decoration:none"
                    class="footer-links me-4 p-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/charli_xcx" target="_blank" style="text-decoration:none"
                    class="footer-links me-4 p-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/charli_xcx/" target="_blank" style="text-decoration:none"
                    class="footer-links me-4 p-2">
                    <i class="fab fa-instagram"></i>
                </a>

            </div>
        </section>

        <!-- Section: Links  -->
        <section>
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Charli Xcx</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #ff389c; height: 2px" />
                        <p>
                            The official Charli XCX store - shop all of the latest Charli XCX merchandise including
                            Charli XCX tees, Charli XCX jumpers, Charli XCX accessories and much more!
                        </p>
                    </div>
                    <!--Merchandise Links Footer-->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Merchandise</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #ff389c; height: 2px" />
                        <p>
                            <a class="footer-links text-white" href="{% url 'merchandise' %}">All
                                Merchandise</a>
                        </p>
                        <p>
                            <a class="footer-links text-white"
                                href="{% url 'merchandise' %}?category=shirts,hoodies,scarves,jumpers"
                                >Apparel</a>
                        </p>
                        <p>
                            <a class="footer-links text-white"
                                href="{% url 'merchandise' %}?category=keychains,chains,stickers,phone_cases,bags"
                                >Accessories</a>
                        </p>
                        <p>
                            <a class="footer-links text-white" href="{% url 'merchandise' %}?category=cds,vinyls,posters"
                                >Music</a>
                        </p>
                    </div>
                    <!-- Link footers-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #ff389c; height: 2px" />
                        <p>

                            {% if request.user.is_authenticated %}
                            <a class="footer-links" href="{% url 'profile' %}">My Account</a>
                            {% else %}
                            <a class="footer-links" href="{% url 'account_signup' %}">Register</a>
                        </p>
                        <p>
                            <a class="footer-links" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                        </p>
                        <p>
                            <a class="footer-links text-white" href="{% url 'news' %}">News</a>
                        </p>
                    </div>
                    <!-- Contact Footer-->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact via Atlantic Records</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #ff389c; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i>
                            Various Artists Management<br>
                            &nbsp;&nbsp;&nbsp;37 Lonsdale Road<br>
                            &nbsp;&nbsp;&nbsp;London NW6 6RA<br>
                            &nbsp;&nbsp; UK </p>
                        <p><i class="fas fa-envelope mr-3"></i> contact@atlanticrecords.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +44(0)207 372 6075 </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <a class="text-white" target="_blank" href="https://charlixcx-merch.herokuapp.com/">Charli XCx</a>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


</body>

</html>