{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- News Posts -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for news_post in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in news_post.featured_image.url %}
                                {% else %}
                                <img class="card-img-top" src=" {{ news_post.featured_image.url }}">
                                {% endif %}
                            </div>
                            <a href="{{ news_post.slug }}">
                                <h2 class="card-title">{{ news_post.post_title }}</h2>
                            </a>
                            <p>Author: {{ news_post.author }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ news_post.created_on}} <i class="far fa-heart"></i>
                                {{ news_post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}