{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row news-header">

        <div class="col-12 text-center mt-3">
            <h2 class="logo-font">News:</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row d-lg-none d-block mt-1">
        <div class="col-12 text-center mt-5">
            <h2 class="logo-font">News:</h2>
            <hr class="w-50 mb-1">
        </div>

    </div>

    <!---- News Tags Sorting---->
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper">
                        <select id="filter-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset">Sort by...
                            </option>
                            <option value="new_music">New
                                Music
                            </option>
                            <option value="letters">
                                Letters
                            </option>
                            <option value="tours">
                                Tours</option>
                            <option value="charts">Charts
                            </option>
                            <option value="interviews">
                                Interviews</option>
                            <option value="performances">
                                Performances</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        <span class="small"><a href="{% url 'news' %}">News Posts</a> | </span>
                    </p>
                </div>
            </div>
        </div>
        <!------- News Posts -------->
        <div class="col-12 mt-3 left ">
            <div class="row justify-content-center">
                {% for news_post in object_list %}
                <div class="col-md-6">
                    <div class="card h-100 border-0">
                        <div class="card-body">
                            <a class="text-center" href="{{ news_post.slug }}">
                                <h2 class="card-title">{{ news_post.post_title }}</h2>
                                <hr class=" justify-content-center"
                                    style="width: 60px; background-color: #ff389c; height: 2px" />
                            </a>

                            <div class="text-center">
                                {% if "placeholder" in news_post.featured_image.url %}
                                {% else %}
                                <img class="img-fluid" src=" {{ news_post.featured_image.url }}"
                                    alt="Picture of {{ news_post.post_title }}">
                                {% endif %}
                            </div>
                            <div class="text-content">
                                <p>{{ news_post.content|truncatechars:130| safe }} </p>
                                <p><a class="read-more" href="{{ news_post.slug }}"> Read More>></a></p>
                            </div>
                            <hr />
                            <div class="text-center">
                                <p>Author: {{ news_post.author }}</p>

                                <p class="card-text text-muted h6">{{ news_post.created_on}}
                                    {% if news_post.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'news' %}?category={{ news_post.category }}">
                                            <i class="fas fa-tag mr-1"></i>{{ news_post.category.friendly_name }}
                                        </a>
                                    </p>
                                    <hr />
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
            </div>
            <div class="row justify-content-center">
                {% endif %}
                {% endfor %}
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination ">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link mr-2 mb-4">&laquo; PREV
                            </a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link mb-4"> NEXT &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#filter-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);
        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            currentUrl.searchParams.set("filter", selectedVal);
            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("filter");
            window.location.replace(currentUrl);
        }
    });

    var currentUrl = new URL(window.location);
    console.log(currentUrl.searchParams);
    if (currentUrl.searchParams.get("filter")) {
        currentFilter = currentUrl.searchParams.get("filter");
    } else {
        currentFilter = "reset";
    }

    for (option of document.getElementsByTagName("option")) {

        if (option.value === currentFilter) {
            option.setAttribute("selected", "selected");
        }

    }
</script>
{% endblock %}