{% extends 'base.html' %}
{% block content %}
<div class="post_header">
<h1 class="post-title text-center text-black">{{ post.post_title }}</h1>
<hr class="justify-content-center"
style="width: 60px; background-color: #ff389c; height: 2px" />

</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="mx-auto d-block col-md-6 justify-content-center">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="news_image " src="{{ MEDIA_URL }}not_available.png" width="100%">
                    {% else %}
                    <img class="news_image " src=" {{ post.featured_image.url }}" width="100%">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <!------- News Post details -------->
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                </div>

                <!-- News post content -->
                <div class="text-content card-text ">
                    {{ post.content | safe }}
                </div>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>

                                {% else %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>

                                {% endif %}

                            </form>
                            {% else %}

                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ post.number_of_likes }}</span>
                        </strong>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}