{% extends 'base.html' %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img class="news_image" src="{{ MEDIA_URL }}not_available.png" width="100%">
                {% else %}
                <img class="news_image" src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>            
            <div class="col-md-6 masthead-text">
                <!------- News Post details -------->
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- News post content -->
                <div class="text-content card-text ">
                    {{ post.content | safe }}
                </div>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>

                                {% else %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>

                                {% endif %}

                            </form>
                            {% else %}

                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ post.number_of_likes }}</span>
                        </strong>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}